/* 
!important
ID= Selector de Padre
Class= Selector de contenido
*/ 

 //ESTILOS RESET Y QUERIES
 @import "formatos/reset";
 @import "formatos/breackpoint";
//ESTILOS HTML
 @import "formatos/header";
 @import "formatos/footer";
 @import "formatos/body";
// PAGES
@import "contacto/contacto";
@import "ofertas/ofertas";
@import "productos/productos";
@import "sobrenosotros/sobrenosotros";

// INICIO - HTML //

/*Primer Portada
.carousel-inner img
{
width: 100%;
height: 250px;}
 
.carousel-caption h5 {
background-color: rgba(0, 0, 0, 0.571);
color: white;}

.carousel-caption p {
background-color: rgba(0, 0, 0, 0.571);
color: rgba(255, 255, 255, 0.598);}

 #main .OfertasAll a{
display: flex; 
justify-content: center;
align-items: center;
color: black;
font-size: 25px;     
padding: 0 100px;
transition: .5s;}

 .OfertasAll a:hover{
background-color: rgba(0, 0, 0, 0.048);
padding-bottom: 5px;
padding-right: 5px;
border-radius: 25px;
box-shadow: 10px 15px 6px rgba(0, 0, 0, 0.228);
transition: .5s;}  

.ofertas-inicio {
text-align: center;
place-items: center;
margin: 20px auto;;
display: flex;
align-items: center;
justify-content: space-around;
padding: 0 10px;}

.ofertas-inicio img {
width: 250px;
height: 250px;}

.ofertas-inicio a{
color: black;
font-size: 20px;
 }

.ofertas-inicio a:hover {
 color: rgb(115, 115, 115);}

 */