 /*FOOTER*/
 
 #footer 
 {
 display: flex;
 justify-content: center;
 background-color: rgb(206, 206, 206);
 align-items: center;
 padding: 20px 0;
 }

 .footer_logo img
 {
 width: 50px;
 height: 50px;
 margin: auto 120px;
 filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
 }

 .footer_links a
 {
     display: flex;
     flex-direction: column;      
     justify-content: center; 
     color: rgb(92, 92, 92);
     font-size: 20px;
     margin: auto 120px;
     transition: .5s;
 }

 .footer_links a:hover
 {
 color: rgb(0, 0, 0);
 transition: .5s;
 }


 .footer_redes a
 {
     font-size: 30px;
     color: black;
     margin: auto 30px;
     border: 2px gray;
     border-radius: 10px;
     padding: 5px;
 }

 .footer_redes a
 {
 transition: .5s;
 }

 .footer_redes a:hover
 {
 filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
 transition: .5s;
 }