* 
{
padding: 0;
margin: 0;
box-sizing: border-box;
font-style: none;
text-decoration: none !important;
font-family: solway;
}   

body
{
max-width: 1920px;
background-color: white;
}
  

ul li 
{
list-style: none; 
display: inline-block;
}